venv/
.env.production
.envstaging
.envprod
.env.local
.envcelery
*.env
.envstaging
.envprod
.envcelery

*.coverage*
dump.rdb
!.coveragerc

training_set_temp.jsonl
*.csv
*.pyc

.DS_Store
.envtesting
.vscode/
Procfile

cov.xml

!profanity.csv
!web_blacklist.csv
!dr_positions.csv
!company_suffixes.csv
!spam_words.csv
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
